/*///////////////////////////////////////////////////////////////////////////////////////////*/
/* RESPONSIVE CSS */
/*///////////////////////////////////////////////////////////////////////////////////////////*/



@media (min-width:1199px) and (max-width:1350px) {
	.search-form .form-group {

      position: relative;
    margin-right: -52px;
    margin-top: -23px;
    float: right!important;
  transition: all 0.35s, border-radius 0s;
  width: 10px;
  height: 40px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
  text-align: center;
}
.search-form .form-group input.form-control {
     padding-right: 74px;
    border: 0 none;
    background: transparent;
    box-shadow: none;
    display: block;
    text-align: center;
    padding-top: 11px;
}
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 20%;
  border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 40px;
  line-height: 34px;
  text-align: center;
  color: #fff;
  left: initial;
  font-size: 14px;
}

	
}


/* 768 x 1024 (Laptop) */

@media (min-width:992px) and (max-width:1199px) {
  .title-category__title {
    font-size: 16px;
  }
  .search-form .form-group {

      position: relative;
    margin-right: -52px;
    margin-top: -23px;
    float: right!important;
  transition: all 0.35s, border-radius 0s;
  width: 10px;
  height: 40px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
  text-align: center;
}
.search-form .form-group input.form-control {
     padding-right: 74px;
    border: 0 none;
    background: transparent;
    box-shadow: none;
    display: block;
    text-align: center;
    padding-top: 11px;
}
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 20%;
  border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 40px;
  line-height: 34px;
  text-align: center;
  color: #fff;
  left: initial;
  font-size: 14px;
}

  
}

/* end min-width:992px and max-width:1199px */



/* 1024 (Laptop) */

@media (max-width:1199px) {
	.form-group { 
	max-height: auto; 
	font-size: auto;
	display: none; 
	}
  .footer-wrap-section {
    margin-right: 0;
  }
  .nav-tabs > li > a {
    padding-left: 20px;
    padding-right: 20px;
  }
  .header_mod-a .top-header__link {
    width: 400px;
  }
  .title-category__category {
    font-size: 11px;
  }
  .search-form .form-group {

      position: relative;
    margin-right: -52px;
    margin-top: -23px;
    float: right!important;
  transition: all 0.35s, border-radius 0s;
  width: 10px;
  height: 40px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
  text-align: center;
}
.search-form .form-group input.form-control {
     padding-right: 74px;
    border: 0 none;
    background: transparent;
    box-shadow: none;
    display: block;
    text-align: center;
    padding-top: 11px;
}
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 20%;
  border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 40px;
  line-height: 34px;
  text-align: center;
  color: #fff;
  left: initial;
  font-size: 14px;
}

}

/* end min-width:992px and max-width:1199px */


/* 768 x 1024 (iPad - Portrait) */

@media (max-width:991px) {
	.search-form .form-group {

      position: relative;
    margin-right: -52px;
    margin-top: -23px;
    float: right!important;
  transition: all 0.35s, border-radius 0s;
  width: 10px;
  height: 40px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
  text-align: center;
}
.search-form .form-group input.form-control {
     padding-right: 74px;
    border: 0 none;
    background: transparent;
    box-shadow: none;
    display: block;
    text-align: center;
    padding-top: 11px;
}
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 20%;
  border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 40px;
  line-height: 34px;
  text-align: center;
  color: #fff;
  left: initial;
  font-size: 14px;
}

  .owl-theme.owl-carousel {
    margin-left: 0;
  }
  .owl-carousel .owl-item {
    padding-left: 0;
  }
  .post-4 .entry-media img {
    width: 100%;
  }
  .header .social-links {
  }
  .sidebar {
    margin-top: 70px;
  }
  .slider-thumbnails .post-2_mod-b .entry-media {
    float: none;
  }
  .slider-thumbnails .post-2_mod-b .entry-main {
    padding-left: 0;
  }
  .slider-thumbnails .sp-slide {
    padding-right: 0;
  }
  .slider-thumbnails .post .entry-media img {
    height: 110px;
  }
  .owl-theme .owl-controls .owl-buttons div {
    background-color: #FFF;
  }
  .footer-section {
    margin-top: 30px;
  }
  .section-type-c {
    padding-top: 70px;
  }
  .footer__title {
    margin-top: 30px;
  }
  .footer-posts {
    margin-top: 30px;
    padding-top: 50px;
  }
  .widget:last-child {
    margin-bottom: 0;
  }
  .yamm-content .post-3:first-child {
    margin-top: 50px;
  }
  .main-slider_mod-b .sp-thumbnail__img:after {
    bottom: 0;
  }
  .main-slider_mod-b .sp-thumbnail__title {
    bottom: auto;
    top: 5px;
  }
  .main-slider_mod-b .sp-buttons {
    bottom: 170px;
  }
  .downloads_mod-b .downloads__wrap-text {
    float: right;
  }
  .acc-type-a_mod-b .acc-type-a__link {
    background-color: #0C0C0C;
    width: 100%;
  }
  .owl-theme_mod-b .owl-controls .owl-buttons div {
    color: #000;
    padding-top: 4px;
  }
  .owl-theme_mod-d .owl-controls .owl-buttons div {
    color: #000;
  }
  .section_mod-a .ui-title-block {
    margin-top: 50px;
  }
  .owl-theme_mod-c {
    margin-bottom: 70px;
  }
  .contacts-item {
    margin-bottom: 50px;
  }
  .post-full__col {
    margin-bottom: 15px;
    margin-top: 0;
  }
}

/* end max-width:991px */


@media (max-width:991px) and (min-width:768px) {
  .yamm .nav > li > a {
    font-size: 12px;
  }
  .search-global__btn {
    top: 1.4rem;
  }
  .main-slider__title,
  .main-slider_mod-c .main-slider__wrap-title {
    margin-top: 30px;
  }
  .search-global__input {
    font-size: 40px;
  }
  .post-3_mod-c:last-child {
    margin-bottom: 70px;
  }
  .ui-title-page {
    padding-top: 20px;
  }
}

/* end max-width:991px and min-width:768px */


/*480 x 640 (small tablet and iPhone)*/

@media (max-width:767px) {
  .navbar-nav {
    margin: 0;
  }
  .footer-section {
    display: block;
    width: 100%;
  }
  .footer-bottom__inner {
    margin-top: 20px;
  }
  .owl-carousel .owl-item img {
    width: 100%;
  }
  .post-2_mod-e {
    width: 100%;
    display: block;
  }
  .btn-link_under-title {
    float: none;
  }
  .nav-tabs > li {
    float: none;
  }
  .main-slider__title {
    margin-top: 40px;
  }
  .sp-horizontal .sp-previous-arrow {
    left: 40px;
  }
  .sp-horizontal .sp-next-arrow {
    right: 50px;
  }
  .downloads__btns-group {
    float: none;
    margin-top: 30px;
  }
  .downloads__wrap-text {
    float: none;
  }
  .slider-thumbnails {
    padding-bottom: 10px;
    height: 410px;
  }
  .slider-thumbnails .post-2_mod-b .entry-main {
    display: none;
  }
  .slider-thumbnails .post .entry-media img {
    height: 150px;
  }
  .slider-thumbnails .sp-bottom-thumbnails.sp-has-pointer {
    position: absolute;
    bottom: 20px;
  }
  .slider-thumbnails .sp-slide {
    height: 280px !important;
  }
  .slider-thumbnails .post-2 .entry-meta,
  .slider-thumbnails .post-2 .entry-content {
    display: none;
  }
  .top-header__link {
    float: none;
  }
  .top-header__ticker {
    padding-left: 0;
  }
  .header-main {
    padding-top: 10px;
  }
  .header .logo {
    display: block;
    margin-bottom: 20px;
    margin-top: 30px;
  }
  .sidebar-nav__list > li.open .dropdown-menu {
    left: 0;
    position: relative;
    padding: 30px 20px 0 0;
  }
  .sidebar-nav__list > li .dropdown-menu a {
    white-space: normal;
  }
  .sidebar-nav__list {
    padding-left: 0;
  }
  .yamm_mod-a {
    height: 0;
    min-height: 0;
  }
  .search-global__btn {
    top: 0;
  }
  .main-slider_mod-b .main-slider__wrap-title,
  .main-slider_mod-c .main-slider__wrap-title {
    margin-top: 250px;
  }
  .main-slider_mod-b .main-slider__title,
  .main-slider_mod-c .main-slider__title {
    display: block;
    padding: 10px;
  }
  .main-slider_mod-b .main-slider__title span,
  .main-slider_mod-c .main-slider__title span {
    padding: 0;
  }
  .search-global__input {
    font-size: 24px;
  }
  .nav-tabs_mod-a {
    float: none !important;
  }
  .nav-tabs_sm > li {
    width: 100%;
  }
  .ui-title-page {
    padding-top: 90px;
    letter-spacing: 0;
  }
  .slider-type-a__img {
    height: 310px;
    width: auto !important;
  }
  .slider-type-a__title {
    font-size: 20px;
  }
  .post-5 .entry-media {
    width: 100%;
  }
  .post-5 .entry-main {
    padding-left: 0;
  }
  .blockquote_mod-a {
    padding: 46px 0 34px 40px;
  }
  .blockquote_mod-a:before {
    left: 0;
  }
  .blockquote-wrap_full_page {
    margin: 40px 0 48px 0;
  }
  .author-post__inner {
    padding-left: 0;
  }
  .author-post__img {
    padding-right: 15px;
  }
  .author-post .social-links > li {
    padding-right: 10px;
  }
  .comments-list .children {
    margin-left: 50px;
  }
  .breadcrumb {
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
  }
  .form-group { max-height: 0px; font-size: 0; display: none; }
  
  .navbar-nav {
		padding-top: .425rem;
		padding-left: 0.75rem;
	}
	.navbar-nav .nav-item {
		float: none;
	}
	.navbar-brand {
		float: right;
	}
	.navbar-brand,
	.navbar-nav .nav-item {
		display: block;
	}
	.navbar-nav .nav-item + .nav-item {
		margin-left: 0;
	}
	.dropdown-menu {
		position: relative;
		float: none;
	}
  
  
}




/* end max-width:767px */


@media (max-width:767px) and (min-width:480px) {
  .blocks-inline > li {
    margin-right: 0;
    margin-left: 0;
  }
  .form-group { max-height: 0px; font-size: 0; display: none; }
}

/*320 x 480 (iPhone)*/

@media (max-width:480px) {
  .comments-list .avatar-placeholder {
    float: none;
    margin-bottom: 30px;
  }
  .comments-list .comment-inner {
    padding-left: 0;
  }
  .downloads_mod-a .downloads__btn {
    width: 50%;
  }
  .owl-theme .owl-controls {
    padding-right: 0;
    padding-left: 0;
  }
  .footer-bottom__inner {
    padding-left: 0;
  }
  .list-subscription__name {
    width: 35px;
  }
  .header-links {
    text-align: center;
  }
  .header_mod-a .header-links__item {
    margin-top: 5px;
  }
  .header_mod-a .top-header__link {
    width: 100%;
    text-align: left;
    padding-left: 0;
    padding-right: 0;
  }
  .header_mod-a .social-links {
    margin-right: 0;
  }
  .post-2_mod-g .entry-media {
    float: none;
  }
  .post-2_mod-g .entry-main {
    margin-left: 0;
  }
  .title-category {
    padding-top: 20px;
  }
  .reviews__info {
    padding-left: 0;
    padding-top: 0;
  }
  .owl-theme_mod-e .owl-controls {
    top: auto;
  }
  .post-full_mod-a .entry-media img {
    height: 300px;
  }
  .post-full .entry-meta__item {
    display: block;
  }
  .form-group { max-height: 0px; font-size: 0; display: none; }
  
  .navbar-nav { 
       position:fixed;
		padding-top: .425rem;
		padding-left: 0.75rem;
	}
	.navbar-nav .nav-item {
		float: none;
	}
	.navbar-brand {
		float: right;
	}
	.navbar-brand,
	.navbar-nav .nav-item {
		display: block;
	}
	.navbar-nav .nav-item + .nav-item {
		margin-left: 0;
	}
	.dropdown-menu {
		position: relative;
		float: none;
	}

}


/*------------search bar --------*/



     